body {
    font-size: 16px;
    color: #000000;
    background-color: #ffffff;
    margin: 3px;
    padding: 0px;
    overflow-x: hidden;
}

ul {
    margin: 0;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.price-table {
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
    background-color: hsl(217, 15%, 38%);
    border: 2px solid #929292;
    transition: all .2s ease-in-out;
    cursor: pointer;
    margin-left: 0px;
    border-radius: 10px;
}

.price-table:hover {
    background-color: #000000;
    margin-top: -40px;
    z-index: 10;
    border: none;
}

div.price {
    font-size: 70px;
    font-weight: 300;
    color: #333c4d;
}

div.dollar {
    vertical-align: top;
    font-size: 17px !important;
    display: inline-block;
    margin-top: 15px;
    color: #222;
}

.price-table ul.features {
    margin-top: 10px;
}

.price-table ul.features li {
    font-size: 16px;
    line-height: 37px;
}

.price-table:hover * {
    color: #fff !important;
}

.boton:visited {
    color: #000 !important;
}